package adminviews

import models "dorm-man/internal/models/administration"

templ InventoryPage(items []models.InventoryItem) {
	@Layout("Inventory") {
		@Navigation()
	}
}

templ InventoryDetailPage(item models.InventoryItem) {
	@Layout("Inventory Item") {
		@Navigation()
	}
}
