package adminviews

import "dorm-man/internal/models"

templ JobsPage(jobs []models.OperationalJob) {
	@Layout("Jobs") {
		@Navigation()
	}
}

templ JobDetailPage(job models.OperationalJob) {
	@Layout("Job") {
		@Navigation()
	}
}
