package adminviews

import "dorm-man/internal/models"

templ PublicationsPage(publications []models.Publication) {
	@Layout("Publications") {
		@Navigation()
	}
}

templ NewsDetailPage(news models.Publication) {
	@Layout("News") {
		@Navigation()
	}
}

templ ActivityDetailPage(activity models.Activity) {
	@Layout("Activity") {
		@Navigation()
	}
}

templ EventDetailPage(event models.Event) {
	@Layout("Event") {
		@Navigation()
	}
}
