package doormanviews

import (
	"dorm-man/web/templates/common/partials"
)

templ TenantAccessFilters() {
	<form
		hx-get="/doorman/list/tenants"
		hx-target="#tenant-access-table"
		hx-swap="innerHTML"
		class={ partials.Cls.FilterBar }
	>
		<input
			type="date"
			name="from"
			class={ partials.Cls.Input }
		/>
		<input
			type="date"
			name="to"
			class={ partials.Cls.Input }
		/>
		<select
			name="status"
			class={ partials.Cls.Select }
		>
			<option value="">
				All Statuses
			</option>

			<option value="checked_in">
				Checked In
			</option>

			<option value="checked_out">
				Checked Out
			</option>
		</select>
		<button
			type="submit"
			class={ partials.Cls.Button }
		>
			Filter
		</button>
	</form>
}

templ GuestFilters() {
	<form
		hx-get="/doorman/list/guests"
		hx-target="#guest-table"
		hx-swap="innerHTML"
		class={ partials.Cls.FilterBar }
	>
		<input
			type="date"
			name="from"
			class={ partials.Cls.Input }
		/>
		<input
			type="date"
			name="to"
			class={ partials.Cls.Input }
		/>
		<select
			name="status"
			class={ partials.Cls.Select }
		>
			<option value="">
				All Guests
			</option>
			<option value="checked_in">
				Checked In
			</option>
			<option value="checked_out">
				Checked Out
			</option>
		</select>
		<button
			type="submit"
			class={ partials.Cls.Button }
		>
			Filter
		</button>
	</form>
}